{% load mathfilters %}
<form action="" method="" id="id00">
    <a href="{{a.Trello_link}}" target="_blank"><button type="button">Open Trello Link</button></a><br>
    <label  >Trip Name </label>
    <input id="name" type= 'text' name="Tripname" value="{{a.Trip_Name}}" readonly required>&nbsp;&nbsp;
    <label for="">Service Status</label>
    <input type= 'text' name="Status" id="status" value="{{a.Service_Status}}" required readonly><br>
    <label  >Created By </label>
    <input id="createdby" type= 'text' name="Createdby" value="{{a.Created_by}}" readonly><br>
    <label  >Start Date </label>
    <input id="startdate" type= 'text' name="Startdate" value="{{a.Start_Date}}" readonly>&nbsp;&nbsp;
    <label  >End Date </label>
    <input id="enddate" type= 'text' name="Enddate" value="{{a.End_Date}}" readonly><br>
    <label  >City </label>
    <input id="tcity" type= 'text' name="Tripcity" value="{{a.City}}" required readonly>&nbsp;&nbsp;
    <label  >State </label>
    <input id="tstate" type= 'text' name="Tripstate" value="{{a.State}}" required readonly><br>
    <label  >No of Persons </label>
    <input id="noofpersons" type= 'text' name="Noofpersons" value="{{a.No_of_People}}" required readonly>&nbsp;&nbsp;
    <label  >Additional info </label>
    <input id="additionalinfo" type= 'text' name="Additionalinfo" value="{{a.Additional_info}}" required readonly><br>
    <label  >Services </label>
    <input id="services" type= 'text' name="Services" value="{{a.Service}}" required readonly><br>
    <label  >Total Cost </label>
    <input id="totalcost" type= 'number' name="Totalcost" value="{{a.Total_Cost}}" onloadeddata="calculate()" required readonly>&nbsp;&nbsp;
    <label  >Amount Paid </label>
    <input id="amountpaid" type= 'number' name="Amountpaid" value="{{amtpaid}}" onloadeddata="calculate()" readonly ><br>
    <label  >Due Amount </label>
    {% with x=a.Total_Cost y=amtpaid %}
    <input id="dueamount" type="number" name="dueamount" value={{x|sub:y}}  >&nbsp;&nbsp;
    {% endwith %}
    <label  >Due Date </label>
    <input id="duedate" type= 'text' name="Duedate" value="{{a.Due_Date}}" required readonly><br>
    <input type="button" value="Edit" onclick="bform(2)" class="bbtn-edit" id="bbt" data-bid="{{a.id}}">
</form>
&nbsp;&nbsp;&nbsp;&nbsp;
   

<script>
    function calculate() {
  var myBox1 = parseFloat(document.getElementById('totalcost').value);
  var myBox2 = parseFloat(document.getElementById('amountpaid').value);
  var result = document.getElementById('dueamount');
  var numb = myBox1 - myBox2;
  numb = numb.toFixed(0);
  result.value = numb;
}
</script>

<form action="" method="POST" id="id0" class="" style="text-align: center;">
    {% csrf_token %}
    <input type="hidden" name="biid" id="biid">
    <label  >Name: </label>
    <input id="tripname" type= 'text' name="Tripname"  required>&nbsp;&nbsp;
    <label  >Created By </label>
    <input id="tcreatedby" type= 'text' name="Createdby" >&nbsp;&nbsp;
    <label for="">Service Status</label>
    <select name="sstatus" id="sstatus">
        <option value="Booked">Booked</option>
        <option value="Pending">Pending</option>
        <option value="Complete">Complete</option>
        <option value="Required">Required</option>
        <option value="Urgent Action Required">Urgent Action Required</option>
        <option value="Cancelled">Cancelled</option>
      </select><br>
    <label  >Start Date </label>
    <input type="date" id="tstartdate" name="Startdate" >&nbsp;&nbsp;
    <label  >End Date </label>
    <input type="date" id="tenddate"  name="Enddate" ><br>
    <label  >City: </label>
    <input id="trcity" type= 'text' name="Tripcity" required>&nbsp;&nbsp;
    <label  >State: </label>
    <input id="trstate" type= 'text' name="Tripstate" required><br>
    <label  >No of Persons </label>
    <input id="tnoofpersons" type= 'text' name="Noofpersons" required>&nbsp;&nbsp;
    <label  >Additional info </label>
    <input id="tadditionalinfo" type= 'text' name="Additionalinfo" required><br>
    <label  >Total Cost </label>
    <input id="ttotalcost" type= 'number' name="Totalcost" required>&nbsp;&nbsp;
    <label  >Amount Paid </label>
    <input id="tramountpaid" type= 'integer' name="Amountpaid" required><br>
    <label  >Due Amount </label>
    {% with x=a.Total_Cost y=amtpaid %}
    <input id="trdueamount" type="number" name="dueamount"   >&nbsp;&nbsp;
    {% endwith %}
    <label  >Due Date </label>
    <input id="tduedate" type="date" name="Duedate" ><br>

    <input type="button" value="submit" onclick="bform(1)" id="tbtn-save" class="tbtn-save" form="id01">
</form>

<h2>Payment History</h2> <a href="payments" target="_blank"><button>New Payment</button><br></a>

<style>
    table,
    th,
    td {
        border: 5px solid #96D4D4;
        border-collapse: collapse;
    }
</style>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>


<table id="results" class="table table-sm">
    <thead>
        <tr>
            <th>Payment Date</th> &nbsp;&nbsp;
            <th>Payment Type</th> &nbsp;
            <th>Booking Id </th> &nbsp;
            <th>Amount</th> &nbsp;
            <th>Mode of Payment</th> &nbsp;
            <th>Additional Info</th> &nbsp;
            <th>&nbsp;&nbsp;</th> &nbsp;
        </tr>
    </thead>
    <tbody>

        {% for entry in b %}
        <tr>
            <td style="height: 50px;px;width:100px">{{entry.Date}}</td>
            <td>{{entry.Payment_Type}}</td>
            <td>{{entry.Bookingkey}}</td>
            <td>{{entry.Amount}}</td>
            <td>{{entry.Mode_of_payment}}</td>
            <td>{{entry.Additional_info}}</td>
            <td><a href="index/{{entry.id}}" target="_blank">Send Mail</a></td>


        </tr>
        {% endfor %}
    </tbody>


</table>



<h2>Guest Info</h2> <a href="addguests" target="_blank"><button>Add more persons</button></a><br>

<style>
    table,
    th,
    td {
        border: 5px solid #96D4D4;
        border-collapse: collapse;
    }
</style>


<table id="results" class="table table-sm">

    <thead>
        <tr>
            <th>Name</th> &nbsp;&nbsp;
            <th>Phone No</th> &nbsp;
        </tr>
    </thead>
    <tbody>

        {% for entry in c %}
        <tr>
            <td style="height: 50px;px;width:100px">{{entry.Name}}</td>
            <td>{{entry.PhoneNo}}</td>
            <td></td>

            
        </tr>
        {% endfor %}
    </tbody>


</table>

<h2>Hotel Info</h2> 

<div id="ajax">
    {% for entry in d %}
    <div id="a" >
        <form action="" id="" class="" style="text-align: center;">
            <label  >Hotel Name </label>
            <input id="hotelnam" type= 'text' name="Hotelname" value="{{entry.Hname}}" required>&nbsp;&nbsp;
            <label for="">Service Status</label>
            <input type="text" name="" value="{{entry.Service_Status}}" id="status">
            <label  >City: </label>
            <input id="hcity" type= 'text' name="Hotelcity" value="{{entry.Hcity}}" required>&nbsp;&nbsp;
            <label  >State: </label>
            <input id="hstate" type= 'text' name="Hotelstate" value="{{entry.Hstate}}" required><br>
            <label  >Checkin Date </label>
            <input id="city" type= 'text' name="Checkindate" value="{{entry.Checkin_Date|date:'d M, Y' }}"required>&nbsp;&nbsp;
            <label  >Checkout Date </label>
            <input id="state" type= 'text' name="Checkoutdate" value="{{entry.Checktout_Date}}" required><br>
            <label  >No of Rooms </label>
            <input id="rooms" type="number" name="Rooms" value="{{entry.No_of_rooms}}">&nbsp;&nbsp;
            <label  >Room Sharing </label>
            <input type= 'text' id="roomsharing" name="Roomsharing" value="{{entry.Room_Sharing_Option}}"><br>
            <label  >Room Type </label>
            <input type= 'text' id="roomtype" type= 'text' name="Roomtype" value="{{entry.Room_Type}}">&nbsp;&nbsp;
            <label  >Meal Plan </label>
            <input id="tnoofpersons" type= 'text' name="Mealplan" value="{{entry.Meal_Plan}}" required><br>
            <label  >Additional info </label>
            <input id="tadditionalinfo" type= 'text' name="Additionalinfo" value="{{entry.Additional_info}}" required><br>
            <label  >Room Cost </label>
            <input id="ttotalcost" type= 'number' name="Roomcost" value="{{entry.Total_Cost}}" required>&nbsp;&nbsp;
            <label  >Amount Paid </label>
            <input id="amountpaid" type= 'number' name="Amountpaid" value="{{entry.Amount_Paid}}" required readonly>&nbsp;&nbsp;
            <label  >Due Amount </label>
            {% with x=entry.Total_Cost y=entry.Amount_Paid %}
            <input id="duedate" type= 'number' name="Duedate" value={{x|sub:y}} required readonly><br>
            {% endwith %}
            <label  >Hotel Contact Name </label>
            <input id="tamountpaid" type= 'text' name="Name" value="{{entry.Hotel_Contact_Name}}" required>&nbsp;&nbsp;
            <label  >Hotel Phone No </label>
            <input id="tduedate" type="number" name="Number" value="{{entry.Hotel_Contact_No}}" required>&nbsp;&nbsp;
            <label  >Email </label>
            <input id="tduedate" type="email" name="Email" value="{{entry.Hemail}}" required><br>
            <input type="button" value="Edit" onclick="hform(2)" class="btn-edit" id="btn-edit-{{entry.id}}" data-hid="{{entry.id}}">
            <input type="button" value="Delete" id="dbtn" class="btn-del" data-hid="{{entry.id}}"><br>
              <a href="{{entry.id}}/hpayments" target="_blank"><button type="button">Payments</button></a>
        </form>
    </div><hr>


    {% endfor %}

</div>
<button type="button" onclick="hform(2)">Add more Hotels</button><br>
<form action="" method="POST" id="hform" class="" style="text-align: center">
    {% csrf_token %}
    <input type="hidden" name="hiid" id="hiid">
    <label  >Hotel Name </label>
    <input id="hoelname" type= 'text' name="Hotelname" required>&nbsp;&nbsp;
    <label for="">Service Status</label>
    <select name="sstatus" id="hsstatus">
        <option value="Booked">Booked</option>
        <option value="Pending">Pending</option>
        <option value="Complete">Complete</option>
        <option value="Required">Required</option>
        <option value="Urgent Action Required">Urgent Action Required</option>
        <option value="Cancelled">Cancelled</option>
      </select><br>
    <label  >City: </label>
    <input id="hocity" type= 'text' name="Hotelcity" required>&nbsp;&nbsp;
    <label  >State: </label>
    <input id="hostate" type= 'text' name="Hotelstate" required><br>
    <label  >Checkin Date </label>
    <input id="cindate" type="date" name="Checkindate" required>&nbsp;&nbsp;
    <label  >Checkout Date </label>
    <input id="coutdate" type="date" name="Checkoutdate" required><br>
    <label  >No of Rooms </label>
    <input id="horooms" type="number" name="Rooms" ">&nbsp;&nbsp;
    <label for=" your_name">Room Sharing </label>
    <input type= 'text' id="horoomsharing" name="Roomsharing"><br>
    <label  >Room Type </label>
    <input type= 'text' id="horoomtype" type= 'text' name="Roomtype">&nbsp;&nbsp;
    <label  >Meal Plan </label>
    <input id="mealplan" type= 'text' name="Mealplan" required><br>
    <label  >Additional info </label>
    <input id="hadditionalinfo" type= 'text' name="Additionalinfo" required><br>
    <label  >Room Cost </label>
    <input id="htotalcost" type="number" name="Roomcost" oninput="calculate()" required><br>
    <label  >Name </label>
    <input id="hname" type= 'text' name="Name" required>&nbsp;&nbsp;
    <label  >Phone No </label>
    <input id="hphoneno" type="number" name="Number" required>&nbsp;&nbsp;
    <label  >Email </label>
    <input id="hemail" type="email" name="Email" required><br>
    <input type="button" onclick="hform(1)"  value="save" name="" id="btn">

</form>

<script>
    function calculate() {
  var myBox1 = parseFloat(document.getElementById('htotalcost').value);
  var myBox2 = parseFloat(document.getElementById('hamountpaid').value);
  var result = document.getElementById('hdueamount');
  var numb = myBox1 - myBox2;
  numb = numb.toFixed(0);
  result.value = numb;
}
</script>

<h2>Transport Info</h2> 
<div id="bjax">
{% for entry in transport %}
    <div>
        <form action="" id="" class="" style="text-align: center;">
            <label  >Vehicle Name </label>
            <input id="vehiclename" type= 'text' name="Hotelname" value="{{entry.Vehicle_Name}}" required>&nbsp;&nbsp;
            <label for="">Service Status</label>
            <input type="text" name="" value="{{entry.Service_Status}}" id="status"><br>
            <label  >Driver Name </label>
            <input id="dname" type= 'text' name="Hotelcity" value="{{entry.Driver_Name}}" required>&nbsp;&nbsp;
            <label  >Driver Phone No </label>
            <input id="dnum" type= 'text' name="Hotelstate" value="{{entry.Driver_Phone_No}}" required><br>
            <label  >Start Date </label>
            <input id="dstart" type= 'text' name="Checkindate" value="{{entry.Start_Date|date:'d M, Y' }}"required>&nbsp;&nbsp;
            <label  >End Date </label>
            <input id="dend" type= 'text' name="Checkoutdate" value="{{entry.End_date}}" required><br>
            <label  >Start Location </label>
            <input id="dsloc" type="text" name="Rooms" value="{{entry.Start_Location}}">&nbsp;&nbsp;
            <label  >End Location </label>
            <input type= 'text' id="deloc" name="Roomsharing" value="{{entry.End_Location}}"><br>
            <label  >Total Cost </label>
            <input type= 'number' id="dtotalcost" name="Roomtype" value="{{entry.Total_Cost}}">&nbsp;&nbsp;
            <label  >Amount Paid </label>
            <input id="amountpaid" type= 'number' name="Amountpaid" value="{{entry.Amount_Paid}}" required readonly>&nbsp;&nbsp;
            <label  >Due Amount </label>
            {% with x=entry.Total_Cost y=entry.Amount_Paid %}
            <input id="duedate" type= 'number' name="Duedate" value={{x|sub:y}} required readonly><br>
            {% endwith %}
            
            <label  >Additional Info </label>
            <input id="dadditionalinfo" type= 'text' name="Mealplan" value="{{entry.Additional_info}}" required><br>
            <input type="button" value="Edit" onclick="tform(2)" class="tbtn-edit" id="btn-edit-{{entry.id}}" data-tid="{{entry.id}}">
            <input type="button" value="Delete" id="dbtn" class="tbtn-del" data-tid="{{entry.id}}"><br>
            <a href="{{entry.id}}/tpayments" target="_blank"><button type="button">Payments</button></a>

     </div>   </form>
    <hr>
    {% endfor %}
</div>


<button type="button" onclick="tform(2)">Add more Transport</button><br>
<form action="" method="POST" id="tinfo" class="tinfo"  style="text-align: center;"  >
    {% csrf_token %}
    <input type="hidden" name="tiid" id="tiid">
    <label for="your_name" >Vehicle Name </label>
    <input id="vname" type="text" name="Vehiclename" required>&nbsp;&nbsp;
    <label for="">Service Status</label>
    <select name="sstatus" id="tsstatus">
        <option value="Booked">Booked</option>
        <option value="Pending">Pending</option>
        <option value="Complete">Complete</option>
        <option value="Required">Required</option>
        <option value="Urgent Action Required">Urgent Action Required</option>
        <option value="Cancelled">Cancelled</option>
      </select><br>
    <label for="your_name">Start Date </label>
    <input id="Startdate" type="date" name="Startdate"  required>&nbsp;&nbsp;
    <label for="your_name">End Date </label>
    <input id="Enddate" type="date" name="Enddate" required><br>
    <label for="your_name">Start Location </label>
    <input id="slocation" type="text" name="Slocation"  required>&nbsp;&nbsp;
    <label for="your_name">End Location </label>
    <input id="elocation" type="text" name="Elocation" required><br>
    <label for="your_name">Additional info </label>
    <input id="vadditionalinfo" type="text" name="Additionalinfo" required><br>
    <label for="your_name" >Driver Name </label>
	<input id="drname" type="text" name="Dname" ">&nbsp;&nbsp;
    <label for="your_name">Driver No. </label>
    <input type="number"   id="dno" name="dno" ><br>
    <label for="your_name">Total Cost </label>
    <input type="number"   id="tttotalcost" name="totalcost" ><br>

    <input type="button" onclick="tform(1)" name="" value="save" id="tbtn">

</form>


<h2>Activities Info</h2> 
<div id="cjax">
{% for entry in activity %}
    <div>
        <form action="" id="aform" class="" style="text-align: center;">
            <label  >Activity Name</label>
            <input id="aname" type= 'text' name="Hotelname" value="{{entry.Name_of_activity}}" required>&nbsp;&nbsp;
            <label for="">Service Status</label>
            <input type="text" name="" value="{{entry.Service_Status}}" id="status"><br>
            <label  >State </label>
            <input id="astate" type= 'text' name="Hotelcity" value="{{entry.State}}" required>&nbsp;&nbsp;
            <label  >City </label>
            <input id="acity" type= 'text' name="Hotelstate" value="{{entry.City}}" required><br>
            <label  >Date </label>
            <input id="adate" type= 'text' name="Checkindate" value="{{entry.Date|date:'d M, Y' }}"required>&nbsp;&nbsp;
            <label  >No of People </label>
            <input id="anoofpeople" type= 'text' name="Checkoutdate" value="{{entry.No_of_People}}" required><br>
            <label  >Vendor Name </label>
            <input id="avename" type="text" name="Rooms" value="{{entry.Vendor_Name}}">&nbsp;&nbsp;
            <label  >Vendor Contact No </label>
            <input type= 'number' id="avno" name="Roomsharing" value="{{entry.Vendor_Contact_No}}"><br>
            <label  >Total Cost </label>
            <input type= 'number' id="atotalcost" type= 'number' name="Roomtype" value="{{entry.Total_Cost}}">&nbsp;&nbsp;
            <label  >Amount Paid </label>
            <input id="amountpaid" type= 'number' name="Amountpaid" value="{{entry.Amount_Paid}}" required readonly>&nbsp;&nbsp;
            <label  >Due Amount </label>
           
            {% with x=entry.Total_Cost y=entry.Amount_Paid %}
            <input id="duedate" type= 'number' name="Duedate" value={{x|sub:y}} required readonly><br>
            {% endwith %}
            
            <label  >Additional Info </label>
            <input id="aadditionalinfo" type= 'text' name="Mealplan" value="{{entry.Additional_info}}" required><br>
            <input type="button" value="Edit" onclick="aform(2)" class="abtn-edit" data-aid="{{entry.id}}">
            <input type="button" value="Delete" id="dbtn" class="abtn-del" data-aid="{{entry.id}}"><br>
            <a href="{{entry.id}}/apayments" target="_blank"><button type="button">Payments</button></a>

    </div></form>
    <hr>


    {% endfor %}
</div>

<button type="button" onclick="aform(2)">Add more Activity</button><br>
<form action="" method="POST" id="ainfo" class="a-info" style="text-align: center;"  >
    {% csrf_token %}
    <input type="hidden" name="aiid" id="aiid">
    <label for="your_name" >Activity Name </label>
    <input id="acname" type="text" name="Activityname"required>&nbsp;&nbsp;
    <label for="">Service Status</label>
    <select name="sstatus" id="asstatus">
        <option value="Booked">Booked</option>
        <option value="Pending">Pending</option>
        <option value="Complete">Complete</option>
        <option value="Required">Required</option>
        <option value="Urgent Action Required">Urgent Action Required</option>
        <option value="Cancelled">Cancelled</option>
      </select><br>
    <label for="your_name">State </label>
    <select name="" id="">
        {% for v in venderinfo %}
        <option value="{{v}}">{{v}}</option>
        {% endfor %}
    </select>
    <input id="acstate" type="text" name="State"  required>&nbsp;&nbsp;
    <label for="your_name">City </label>
    <input id="accity" type="text" name="City" required><br>
    <label for="your_name">No of Persons </label>
    <input id="anoofpersons" type="text" name="Noofperson"  required><br>
    <label for="your_name">Date </label>
    <input id="acdate" type="date" name="Date" required><br>
    <label for="your_name">Additional info </label>
    <input id="acadditionalinfo" type="text" name="Additionalinfo" required><br>
    <label for="your_name" >Vendor Name </label>
	<input id="avname" type="text" name="Vname" ">&nbsp;&nbsp;
    <label for="your_name">Vendor No. </label>
    <input type="number"   id="vno" name="Vno" ><br>
    <label for="your_name">Total Cost </label>
    <input type="number"   id="actotalcost" name="Vno" ><br>
    

    <input type="button" onclick="aform(1)" value="Save" name="" id="abtn">

</form>

<h2>Tickets Info</h2> 

<div id="djax">
    {% for entry in tickets %}
        <div>
            <form action="" id="tiform" class="" style="text-align: center;">
                <label  >Type of Ticket</label>
                <input id="toticket" type= 'text' name="Hotelname" value="{{entry.Type_of_ticket}}" required>&nbsp;&nbsp;
                <label  >No of Tickets </label>
                <input id="tinoofpeople" type= 'number' name="Checkoutdate" value="{{entry.No_of_tickets}}" required>&nbsp;&nbsp;
                <label for="">Service Status</label>
                <input type="text" name="" value="{{entry.Service_Status}}" id="status"><br>
                <label for="your_name">Departure Date </label>
                <input id="ddate" type="text" name="Startdate" value="{{entry.Departure_Date}}"  required>&nbsp;&nbsp;
                <label for="your_name">Arrival Date </label>
                <input id="ardate" type="text" name="Enddate" value="{{entry.Arrival_Date}}" required><br>
                <label  >Departure City </label>
                <input id="ticity" type= 'text' name="Hotelcity" value="{{entry.Departure_city}}" required>&nbsp;&nbsp;
                <label  >Arrival City </label>
                <input id="tistate" type= 'text' name="Hotelstate" value="{{entry.Arrival_city}}" required><br>
                <label  >Additional Info </label>
                <input id="tiadditionalinfo" type= 'text' name="Mealplan" value="{{entry.Additional_info}}" required><br>
                <label  >Total Cost </label>
                <input type= 'number' id="titotalcost" type= 'number' name="Roomtype" value="{{entry.Total_Cost}}">&nbsp;&nbsp;
                <label  >Amount Paid </label>
                <input type= 'number' id="tiamountpaid" type= 'number' name="Roomtype" value="{{entry.Amount_Paid}}">&nbsp;&nbsp;
                <label  >Due Amount </label>
                <input type= 'number' id="tidueamountt" type= 'number' name="Roomtype" value="{{entry.Due_Amount}}"><br>
                
                <input type="button" value="Edit" onclick="tiform(2)" class="tibtn-edit" data-tiid="{{entry.id}}">
                <input type="button" value="Delete" id="dbtn" class="tibtn-del" data-tiid="{{entry.id}}"><br>
                <a href="{{entry.id}}/tipayments" target="_blank"><button type="button">Payments</button></a>
    
        </div></form>
        <hr>
    
    
        {% endfor %}
    </div>
    
    <button type="button" onclick="tiform(2)">Add more Tickets</button><br>
    <form action="" method="POST" id="tiinfo" class="ti-info" style="text-align: center;"  >
        {% csrf_token %}
        <input type="hidden" name="tiiid" id="tiiid">
        <label for="your_name" >Type of Ticket</label>
        <input id="ab" type="text" name="Activityname"required>&nbsp;&nbsp;
        <label  >No of Tickets </label>
        <input id="b" type= 'number' name="Checkoutdate" value="{{entry.No_of_tickets}}" required>&nbsp;&nbsp;
        <label for="">Service Status</label>
        <select name="sstatus" id="c">
            <option value="Booked">Booked</option>
            <option value="Pending">Pending</option>
            <option value="Complete">Complete</option>
            <option value="Required">Required</option>
            <option value="Urgent Action Required">Urgent Action Required</option>
            <option value="Cancelled">Cancelled</option>
          </select><br>
          <label for="your_name">Departure Date </label>
          <input id="d" type="date" name="Startdate" value="{{entry.Departure_Date}}"  required>&nbsp;&nbsp;
          <label for="your_name">Arrival Date </label>
          <input id="e" type="date" name="Enddate" value="{{entry.Arrival_Date}}" required><br>
          <label  >Departure City </label>
          <input id="f" type= 'text' name="Hotelcity" value="{{entry.Departure_city}}" required>&nbsp;&nbsp;
          <label  >Arrival City </label>
          <input id="g" type= 'text' name="Hotelstate" value="{{entry.Arrival_city}}" required><br>
          <label  >Additional Info </label>
          <input id="h" type= 'text' name="Mealplan" value="{{entry.Additional_info}}" required><br>
          <label  >Total Cost </label>
          <input type= 'number' id="i" type= 'number' name="Roomtype" value="{{entry.Total_Cost}}"><br>
        
    
        <input type="button" value="Save" onclick="tiform(1)" name="" id="ticketsbtn">
    
    </form>


<style>
    #hform,#tinfo,#ainfo,#tiinfo,#id0 {
            display:none;
            border: 5px;
            background-color: lightgrey;
            border-color: red;
            border-style: solid;
        }
        #txtvalues{
            display: none;
        }
</style>
<script type="">
        function hform(a)
    {
        if(a==1)
            document.getElementById("hform").style.display="none";
        else
            document.getElementById("hform").style.display="block";
    }
    function tform(a)
    {
        if(a==1)
            document.getElementById("tinfo").style.display="none";
        else
            document.getElementById("tinfo").style.display="block";
    }
    function aform(a)
    {
        if(a==1)
            document.getElementById("ainfo").style.display="none";
        else
            document.getElementById("ainfo").style.display="block";
    }
    function tiform(a)
    {
        if(a==1)
            document.getElementById("tiinfo").style.display="none";
        else
            document.getElementById("tiinfo").style.display="block";
    }
    function bform(a)
    {
        if(a==1)
            document.getElementById("id0").style.display="none";
        else
            document.getElementById("id0").style.display="block";
    }
    </script>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    let id = "{{a.id}}";
    $("#btn").click(function () {
        //console.log('save button clicked');
        output = "";
        let hid = $("#hiid").val();
        let hn = $("#hoelname").val();
        let city = $("#hocity").val();
        let state = $("#hostate").val();
        let cindate = $("#cindate").val();
        let coutdate = $("#coutdate").val();
        let rooms = $("#horooms").val();
        let roomsharing = $("#horoomsharing").val();
        let roomtype = $("#horoomtype").val();
        let mealplan = $("#mealplan").val();
        let hadditionalinfo = $("#hadditionalinfo").val();
        let htotalcost = $("#htotalcost").val();
        let hamountpaid = $("#hamountpaid").val();
        let hdueamount = $("#hdueamount").val();
        let name = $("#hname").val();
        let phoneno = $("#hphoneno").val();
        let email = $("#hemail").val();
        let sstatus = $("#hsstatus").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        hdata = {
            hiid:hid,Hname: hn, csrfmiddlewaretoken: csr, Hotelcity: city, Hotelstate: state,
            Checkindate: cindate, Checkoutdate: coutdate, Rooms: rooms, Roomsharing: roomsharing,
            Roomtype: roomtype, Mealplan: mealplan, Additionalinfo: hadditionalinfo,
            Roomcost: htotalcost,Name: name, Number: phoneno, Email: email,
            sstatus:sstatus};
        $.ajax({
            url: "addhotels",
            method: "POST",
            data: hdata,
            success: function (data) {

                x = data.info;
                console.log(x);
                for(i=1; i<x.length; i++){
                output += "<form style='text-align: center;'>" +
                        "<label >Hotel Name </label>"+
                        "<input type='text' value="+x[i].Hname+"><br\>"+
                        "<label >City </label>"+
                        "<input type='text'value="+x[i].Hcity+" required>&nbsp;&nbsp;" +
                        "<label  >State: </label>"+
                        "<input type='text'value="+x[i].Hstate+" required><br\>" +
                        "<label  >Checkin Date </label>"+
                        "<input type='date' value="+x[i].Checkin_Date +" required>&nbsp;&nbsp;" +
                        "<label  >Checkout Date </label>"+
                        "<input type='date' value="+x[i].Checktout_Date +" required><br\>" +
                        "<label  >No of Rooms </label>"+
                        "<input type='number' value="+x[i].No_of_rooms +" required>&nbsp;&nbsp;"+
                        "<label  >Room Sharing </label>"+
                        "<input type='text' value="+x[i].Room_Sharing_Option +" required><br\>"+
                        "<label  >Room Type </label>"+
                        "<input type='text' value="+x[i].Room_Type +" required>&nbsp;&nbsp;"+
                        "<label  >Meal Plan </label>"+
                        "<input type='text' value="+x[i].Meal_Plan +" required><br\>"+
                        "<label  >Additional Info </label>"+
                        "<input type='text' value="+x[i].Additional_info +" required><br\>"+
                        "<label  >Room Cost </label>"+
                        "<input type='number' value="+x[i].Total_Cost +" required>&nbsp;&nbsp;"+
                        "<label  >Amount Paid </label>"+
                        "<input type='number' value="+x[i].Amount_Paid +" required>&nbsp;&nbsp;"+
                        "<label  >Due Amount </label>"+
                        "<input type='number' value="+x[i].Due_Amount +" required><br\>"+
                       " <label  >Name </label>"+
                       "<input type='text' value="+x[i].Hotel_Contact_Name +" required>&nbsp;&nbsp;"+
                       " <label  >Phone No </label>"+
                       "<input type='number' value="+x[i].Hotel_Contact_No +" required>&nbsp;&nbsp;"+
                        "<label  >Email </label>"+
                        "<input type='email' value="+x[i].Hemail +" required><br\>"+
                        "<input type='button' value='Edit' class='edit-btn' data-hid="+x[i].id+">"+
                        "<input type='button' value='Delete' class='del-btn' id='dbtn' data-hid="+x[i].id+"><hr\>"

                };

                $("#ajax").append(output);
                $("#hform").trigger("reset");
                $("#hiid").val("");
                
            

            }
        
        })   
    })

    $(".btn-del").click(function () {
        console.log("delete button clicked");
        let id = $(this).attr("data-hid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {hid:id,csrfmiddlewaretoken: csr}
        mythis = this;
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success: function (data){
                if(data.status==1){
                console.log(data);
                $(mythis).closest("div").fadeOut();
                }
            }

        })
    })
    
    $(".btn-edit").click(function () {
        console.log("edit button clicked");
        let id = $(this).attr("data-hid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {hid:id,csrfmiddlewaretoken: csr}
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: mydata,
            dataType:"json",
            success: function (data){
                console.log(data);
                $("#hiid").val(data.id);
                $("#hoelname").val(data.Hname);
                $("#hocity").val(data.Hcity);
                $("#hostate").val(data.Hstate);
                $("#cindate").val(data.Checkin_Date);
                $("#coutdate").val(data.Checktout_Date);
                $("#horooms").val(data.No_of_rooms);
                $("#horoomsharing").val(data.Room_Sharing_Option);
                $("#horoomtype").val(data.Room_Type);
                $("#mealplan").val(data.Meal_Plan);
                $("#hadditionalinfo").val(data.Additional_info);
                $("#htotalcost").val(data.Total_Cost);
                $("#hname").val(data.Hotel_Contact_Name);
                $("#hphoneno").val(data.Hotel_Contact_No);
                $("#hemail").val(data.Hemail);
                $("#hsstatus").val(data.sstatus);

            }
        
        })
    })

    $("#tbtn-save").click(function () {
        console.log('save button clicked');
        output = "";
        let hid = $("#biid").val();
        let hn = $("#tripname").val();
        let city = $("#trcity").val();
        let state = $("#trstate").val();
        let cindate = $("#tstartdate").val();
        let coutdate = $("#tenddate").val();
        let createdby = $("#tcreatedby").val();
        let rooms = $("#tnoofpersons").val();
        let badditionalinfo = $("#tadditionalinfo").val();
        let htotalcost = $("#ttotalcost").val();
        let hamountpaid = $("#tramountpaid").val();
        let hdueamount = $("#trdueamount").val();
        let duedate = $("#tduedate").val();
        let sstatus = $("#sstatus").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        bdata = {
            biid:hid,bname: hn, csrfmiddlewaretoken: csr, bcity: city, bstate: state,
            bcindate: cindate, bcodate: coutdate, bno: rooms, 
             Additionalinfo: badditionalinfo,createdby:createdby,
            Roomcost: htotalcost,Dueamount:hdueamount,Amountpaid:hamountpaid,duedate:duedate,
            sstatus:sstatus
        };
        $.ajax({
            url: "book",
            method: "POST",
            data: bdata,
            success: function (data) {

                x = data.info;
                console.log(x);
            },
            
        
    })
})


$(".bbtn-edit").click(function () {
    console.log("edit button clicked");
    let id = $(this).attr("data-bid");
    let csr = $("input[name=csrfmiddlewaretoken").val();
    console.log(id);
    mydata = {bid:id,csrfmiddlewaretoken: csr}
    $.ajax({
        url: "{% url 'bedit' %}",
        method: "POST",
        data: mydata,
        dataType:"json",
        success: function (data){
            console.log(data);
            $("#biid").val(data.id);
            $("#tripname").val(data.Hname);
            $("#tcreatedby").val(data.Created_By);
            $("#tstartdate").val(data.Checkin_Date);
            $("#tenddate").val(data.Checktout_Date);
            $("#trcity").val(data.Hcity);
            $("#trstate").val(data.Hstate);
            $("#tnoofpersons").val(data.No_of_persons);
            $("#tadditionalinfo").val(data.Additional_info);
            $("#ttotalcost").val(data.Total_Cost);
            $("#tramountpaid").val(data.Amount_Paid);
            $("#trdueamount").val(data.Due_Amount);
            $("#tduedate").val(data.Due_Date);
            $("#sstatus").val(data.Service_Status);


        }
    
    })
})

</script>

<script>

    $("#tbtn").click(function () {
        //console.log('save button clicked');
        output = "";
        let tid = $("#tiid").val();
        let vname = $("#vname").val();
        let Startdate = $("#Startdate").val();
        let enddate = $("#Enddate").val();
        let slocation = $("#slocation").val();
        let elocation = $("#elocation").val();
        let vadditionalinfo = $("#vadditionalinfo").val();
        let dname = $("#drname").val();
        let dno = $("#dno").val();
        let totalcost = $("#tttotalcost").val();
        let amountpaid = $("#tamountpaid").val();
        let dueamount = $("#dueamount").val();
        let sstatus = $("#tsstatus").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        tdata = {
            tiid:tid,vname: vname, csrfmiddlewaretoken: csr, Startdate: Startdate, enddate: enddate,
            slocation: slocation, elocation: elocation, vadditionalinfo: vadditionalinfo, dname: dname,
            dno: dno, totalcost: totalcost, amountpaid: amountpaid,
            dueamount: dueamount,sstatus:sstatus};
        console.log(tdata);
        $.ajax({
            url: "addtransport",
            method: "POST",
            data: tdata,
            success: function (data) {

                x = data.info;
                console.log(x);
                for(i=1; i<x.length; i++){
                output += "<form style='text-align: center;'>" +
                        "<label >Vehicle Name </label>"+
                        "<input type='text' value="+x[i].Vehicle_Name+"><br\>"+
                        "<label >Driver Name </label>"+
                        "<input type='text'value="+x[i].Driver_Name+" required>&nbsp;&nbsp;" +
                        "<label  >Driver Phone No </label>"+
                        "<input type='number'value="+x[i].Driver_Phone_No+" required><br\>" +
                        "<label  >Start Date </label>"+
                        "<input type='date' value="+x[i].Start_Date +" required>&nbsp;&nbsp;" +
                        "<label  >End Date </label>"+
                        "<input type='date' value="+x[i].End_date +" required><br\>" +
                        "<label  >Start Location </label>"+
                        "<input type='text' value="+x[i].Start_Location+" required>&nbsp;&nbsp;"+
                        "<label  >End Location </label>"+
                        "<input type='text' value="+x[i].End_Location +" required><br\>"+
                        "<label  >Total Cost </label>"+
                        "<input type='number' value="+x[i].Total_Cost +" required>&nbsp;&nbsp;"+
                        "<label  >Additional Info </label>"+
                        "<input type='text' value="+x[i].Additional_info +" required><br\>"+
                        "<input type='button' value='Edit' class='edit-btn' data-hid="+x[i].id+">"+
                        "<input type='button' value='Delete' class='del-btn' id='dbtn' data-hid="+x[i].id+"><hr\>"

                };

                $("#bjax").append(output);
                $("#tinfo").trigger("reset");
                $("#tiid").val("");
                
            

            }
        
        })   
    })

    $(".tbtn-del").click(function () {
        console.log("delete button clicked");
        let id = $(this).attr("data-tid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {tid:id,csrfmiddlewaretoken: csr}
        mythis = this;
        $.ajax({
            url: "{% url 'tdelete' %}",
            method: "POST",
            data: mydata,
            success: function (data){
                if(data.status==1){
                console.log(data);
                $(mythis).closest("div").fadeOut();
                }
            }

        })
    })


    $(".tbtn-edit").click(function () {
        console.log("edit button clicked");
        let id = $(this).attr("data-tid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {tid:id,csrfmiddlewaretoken: csr}
        $.ajax({
            url: "{% url 'tedit' %}",
            method: "POST",
            data: mydata,
            dataType:"json",
            success: function (data){
                console.log(data);
                $("#tiid").val(data.id);
                $("#vname").val(data.Vehicle_Name);
                $("#Startdate").val(data.Start_Date);
                $("#Enddate").val(data.End_date);
                $("#slocation").val(data.Start_Location);
                $("#elocation").val(data.End_Location);
                $("#vadditionalinfo").val(data.Additional_info);
                $("#drname").val(data.Driver_Name);
                $("#dno").val(data.Driver_Phone_No);
                $("#tttotalcost").val(data.Total_Cost);
                $("#tsstatus").val(data.Service_Status);

            }
        })
    
    })
        

</script>

<script>

    $("#abtn").click(function () {
        //console.log('save button clicked');
        output = "";
        let html = $("#a");
        let aid = $("#aiid").val();
        let aname = $("#acname").val();
        let astate = $("#acstate").val();
        let acity = $("#accity").val();
        let anoofpersons = $("#anoofpersons").val();
        let adate = $("#acdate").val();
        let aadditionalinfo = $("#acadditionalinfo").val();
        let avname = $("#avname").val();
        let vno = $("#vno").val();
        let atotalcost = $("#actotalcost").val();
        let aamountpaid = $("#aamountpaid").val();
        let adueamount = $("#adueamount").val();
        let sstatus = $("#asstatus").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        adata = {
            aiid:aid,aname: aname, csrfmiddlewaretoken: csr, astate: astate, acity: acity,
            anoofpersons: anoofpersons, adate: adate, aadditionalinfo: aadditionalinfo, avname: avname,
            vno: vno, atotalcost: atotalcost, aamountpaid: aamountpaid,
            adueamount: adueamount,sstatus:sstatus};
        $.ajax({
            url: "addactivities",
            method: "POST",
            data: adata,
            success: function (data) {

                x = data.info;
                console.log(x);
                for(i=1; i<x.length; i++){
                output += "<form style='text-align: center;'>" +
                        "<label >Activity Name </label>"+
                        "<input type='text' value="+x[i].Name_of_activity+"><br\>"+
                        "<label >State </label>"+
                        "<input type='text'value="+x[i].State+" required>&nbsp;&nbsp;" +
                        "<label  >City </label>"+
                        "<input type='text'value="+x[i].City+" required><br\>" +
                        "<label  >Date </label>"+
                        "<input type='date' value="+x[i].Date +" required>&nbsp;&nbsp;" +
                        "<label  >No of People </label>"+
                        "<input type='number' value="+x[i].No_of_People +" required><br\>" +
                        "<label  >Vendor Name </label>"+
                        "<input type='text' value="+x[i].Vendor_Name+" required>&nbsp;&nbsp;"+
                        "<label  >Vendor Contact No </label>"+
                        "<input type='text' value="+x[i].Vendor_Contact_No +" required><br\>"+
                        "<label  >Total Cost </label>"+
                        "<input type='number' value="+x[i].Total_Cost +" required>&nbsp;&nbsp;"+
                        "<label  >Additional Info </label>"+
                        "<input type='text' value="+x[i].Additional_info +" required><br\>"+
                        "<input type='button' value='Edit' class='edit-btn' data-hid="+x[i].id+">"+
                        "<input type='button' value='Delete' class='del-btn' id='dbtn' data-hid="+x[i].id+"><hr\>"

                };

                $("#cjax").append(output);
                $("#ainfo").trigger("reset");
                $("#aiid").val("");
        
            

            }
        
        })   
    })

    $(".abtn-del").click(function () {
        console.log("delete button clicked");
        let id = $(this).attr("data-aid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {aid:id,csrfmiddlewaretoken: csr}
        mythis = this;
        $.ajax({
            url: "{% url 'adelete' %}",
            method: "POST",
            data: mydata,
            success: function (data){
                if(data.status==1){
                console.log(data);
                $(mythis).closest("div").fadeOut();
                }
            }

        })
    })

    $(".abtn-edit").click(function () {
        console.log("edit button clicked");
        let id = $(this).attr("data-aid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {aid:id,csrfmiddlewaretoken: csr}
        $.ajax({
            url: "{% url 'aedit' %}",
            method: "POST",
            data: mydata,
            dataType:"json",
            success: function (data){
                console.log(data);
                $("#aiid").val(data.id);
                $("#acname").val(data.Name_of_activity);
                $("#acstate").val(data.State);
                $("#accity").val(data.City);
                $("#anoofpersons").val(data.No_of_People);
                $("#acdate").val(data.Date);
                $("#acadditionalinfo").val(data.Additional_info);
                $("#avname").val(data.Vendor_Name);
                $("#vno").val(data.Vendor_Contact_No);
                $("#actotalcost").val(data.Total_Cost);
                $("#asstatus").val(data.Service_Status);

            }
        })
    
    })


</script>

<script>
    $("#ticketsbtn").click(function () {
        console.log('save button clicked');
        output = "";
        let html = $("#a");
        let tiid = $("#tiiid").val();
        let toticket = $("#ab").val();
        let tinooftickets = $("#b").val();
        let tisstatus = $("#c").val();
        let ddate = $("#d").val();
        let ardate = $("#e").val();
        let tidcity = $("#f").val();
        let tiacity = $("#g").val();
        let tiadditionalinfo = $("#h").val();
        let titotalcost = $("#i").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        tidata = {
           tiid:tiid,toticket: toticket, csrfmiddlewaretoken: csr, tinooftickets: tinooftickets, tisstatus: tisstatus,
           ddate: ddate, ardate: ardate, tidcity: tidcity, tiacity: tiacity,
           tiadditionalinfo: tiadditionalinfo, titotalcost: titotalcost};
            
        $.ajax({
        url: "addtickets",
        method: "POST",
        data: tidata,
        success: function (data) {

            x = data.info;
            console.log(x);
            for(i=1; i<x.length; i++){
                output += "<form style='text-align: center;'>" +
                        "<label >Activity Name </label>"+
                        "<input type='text' value="+x[i].Name_of_activity+"><br\>"+
                        "<label >State </label>"+
                        "<input type='text'value="+x[i].State+" required>&nbsp;&nbsp;" +
                        "<label  >City </label>"+
                        "<input type='text'value="+x[i].City+" required><br\>" +
                        "<label  >Date </label>"+
                        "<input type='date' value="+x[i].Date +" required>&nbsp;&nbsp;" +
                        "<label  >No of People </label>"+
                        "<input type='number' value="+x[i].No_of_People +" required><br\>" +
                        "<label  >Vendor Name </label>"+
                        "<input type='text' value="+x[i].Vendor_Name+" required>&nbsp;&nbsp;"+
                        "<label  >Vendor Contact No </label>"+
                        "<input type='text' value="+x[i].Vendor_Contact_No +" required><br\>"+
                        "<label  >Total Cost </label>"+
                        "<input type='number' value="+x[i].Total_Cost +" required>&nbsp;&nbsp;"+
                        "<label  >Additional Info </label>"+
                        "<input type='text' value="+x[i].Additional_info +" required><br\>"+
                        "<input type='button' value='Edit' class='edit-btn' data-hid="+x[i].id+">"+
                        "<input type='button' value='Delete' class='del-btn' id='dbtn' data-hid="+x[i].id+"><hr\>"

                };

                $("#djax").append(output);
                $("#tiinfo").trigger("reset");
                $("#tiiid").val("");
            }
        })
    })

    $(".tibtn-del").click(function () {
        console.log("delete button clicked");
        let id = $(this).attr("data-tiid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {tiid:id,csrfmiddlewaretoken: csr}
        mythis = this;
        $.ajax({
            url: "{% url 'tidelete' %}",
            method: "POST",
            data: mydata,
            success: function (data){
                if(data.status==1){
                console.log(data);
                $(mythis).closest("div").fadeOut();
                }
            }

        })
    })

    $(".tibtn-edit").click(function () {
        console.log("edit button clicked");
        let id = $(this).attr("data-tiid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id);
        mydata = {tiid:id,csrfmiddlewaretoken: csr}
        $.ajax({
            url: "{% url 'tiedit' %}",
            method: "POST",
            data: mydata,
            dataType:"json",
            success: function (data){
                console.log(data);
                $("#tiiid").val(data.id);
                $("#ab").val(data.Type_of_ticket);
                $("#b").val(data.No_of_tickets);
                $("#c").val(data.Service_Status);
                $("#d").val(data.Departure_Date);
                $("#e").val(data.Arrival_Date);
                $("#f").val(data.Departure_city);
                $("#g").val(data.Arrival_city);
                $("#h").val(data.Additional_info);
                $("#i").val(data.Total_Cost);

            }
        })
    
    })

    
</script>