<h2>New Payment</h2><br>
<form action=""  method = "POST" >
    {% csrf_token %}
    <div id="compulsary-fields">
        <label for="your_name" >Booking ID {{id}} </label><br>
        <label for="your_name">Amount </label>
        <input id="amount" type="number" name="amount" required><br>
        <label for="your_name">Date</label>
        <input id="date" type="date" name="date" required><br>
        <label for="your_name">Mode of Payment </label>
        <input id="mode" type="text" name="mode" required><br>
        <label for="your_name">Additional Info </label>
        <input id="info" type="text" name="info" required><br>
        <button type="submit">Update</button>&nbsp;  <button>Cancel</button>
    </div>