<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
		img{display: block; margin-left: auto; margin-right: auto;}
    </style>
</head>
<body>
			<p>Hello {{concern_person_name|title}},</p>
			<p>Greetings from Universal Adventures!</p>
			<p>We are DMC &amp; Adventure Tour provider based in Delhi &amp; provide services across the country. As we are continuously expanding our services &amp; generating a high number of queries for <b>Resorts &amp; Hotels in {{hotel_city|title}}</b> every day, we are looking forward to collaborating with you to fulfill our existing &amp; upcoming demands.</p>
			<p>We want to collaborate as a B to B partner, so please provide the best B2B prices for your different room categories of <b>{{hotel_name|title }}</b> for season time &amp; non-season time with MAPAI &amp; CPAI meal plan (if available). Please also provide the Honeymoon kit inclusions &amp; their charges(if available).</p>
			<p>We are looking forward to starting the business with you very soon.</p>
			<p><br></p>
			<p>Warm Regards,</p>
			<p>&nbsp;</p>
			<p>--</p>
			<p>Sunny Sharma</p>
			<p>Business Development Head</p>
			<p>Universal Adventures</p>
			<p>+91 9528812938</p>
			<p>www.universaladventures.in</p>
	
    <p><strong>
	
	
		
	</strong></p>

</body>
</html>




